@import "./mixin";
@import "./variables";


header{
    width: 100%;
    margin: 0 auto;
    margin-right: 0;
}

nav{
    width: 100%;
}

li{
    list-style: none
}


.f-row{
    @include flex(row);
    width: 100%;
   
    
}

.f-col{
    @include flex(column);
    position: absolute;
    top: 80px;
    left: 35px;
    justify-content: center;
    width: 50%;
}

.cart-avatar{
    @include flex(row);
    justify-content: space-between;
    flex-basis: 10%;
    margin: 0;
    margin-right: auto;

    li{
        @include flex(row);
        align-self: center;
        justify-items: center;
        justify-content: center;
    }

}

.menu-ul{
    flex-basis: 70%;
}

ul{
    align-items: center;
}

#avatar{
    width: 2.2rem;
    height: 2.2rem;
}

@media screen  and (max-width: 959px){
    .s-hidden{
        display: none;
    }  
    
    .menu-ul{
        gap: 2rem;
    }

    

}

@media screen and (min-width: 959px) {
    header{
        border-bottom: 1px solid gray;
    }

    .row-r{
        @include flex(row-reverse)
    }

    .l-hidden{
        display: none;
    }

    #avatar{
        width: 3.2rem;
        height: 3.2rem;
    }
    
    .cart-avatar{
        justify-content: space-between;
        flex-basis: 10%;
    }

    .menu-ul{
        justify-content: space-between;
        gap: 2rem;
    }

    .logo-menu{
        flex-basis: 10%;
        margin-left: 0;
    }

    .nav-menu{
        flex-basis: 50%;
        justify-content: space-between;
        align-content: left;
        margin-right: auto;
    }
}