@import "./mixin";
@import "./variables";


main{
    width: 100%;
    margin: 0 auto;
    margin-left: 0;

    section{
        @include flex(column);
        h3{
            color: $colorOrange;
            word-spacing: 0.5rem;

        }
        h1{
            font-size: 2rem;
            margin: 0;
            width: 26rem;
            word-spacing: 0.3rem;

        }
        p{
            font-size: 1rem;
            line-height: 1.3rem;
            word-spacing: 0.3rem;
        }
    }
}

.main1{
    width: 100%;
    margin: 0 auto;
}

.main2{
    width: 90%;
    margin: 0 auto;
}

.prices{
    @include flex(row);
    justify-content: space-between;

}

.new-price{
    @include flex(row);
    flex-basis: 40%;
    justify-content: space-between;
}

.price{
    font-size: 1.5rem;
    font-weight: 600;
    flex-basis: 40%;
}

.percentage{
    color: $colorOrange;
    border-radius: 3px;
    background: $paleOrange;
    font-weight: 600;
    text-align: center;
    align-self: center;
    align-items: center;
    flex-basis: 20%;
    padding: 0.1rem;
    padding-left: 0.5rem;
}

.prev-price{
    color: grey;
    flex-basis: 10%;
}


.buttons{
    @include flex(column);
    gap: 0.5rem;
}

.qty-btn{
    margin-top: 2rem;
    background: $LightGrayishBlue;
    padding: 0.3rem;
    @include flex(row);
    justify-content: space-between;
    font-size: 1.2rem;
    border-radius: 5px;
}

.cart-btn{
    color: white;
    border-radius: 5px;
    margin-bottom: 3rem;

}

.cart-img{
    color: white;
    margin-left: 0.5rem;
}



@media screen and (max-width: 959px) {
    .main{
        margin-bottom: 1rem;
    }
    .prev-price{
        color: grey;
        align-self: center;
    }

    .buttons{
        color: black;
    }

    .qty-btn, .cart-btn{
        padding: 0.7rem;
    }

    .cart-btn{
        @include flex(row);
        justify-content: center;
    }

    .cart-txt{
        margin-top: 0.2em;
        margin-left: 0.3rem;
    }

    .minus{
        margin-bottom: 0.27rem;
    }
}

@media screen and (min-width: 959px) {
main{
    @include flex(row);
    justify-content: space-between;
    margin-top: 6rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 3rem;
    section{
        margin-top: 4rem;
        flex-basis: 55%;
    }
}

.main1{
    flex-basis: 35%;
    border: 2px solid black;
}

section{
    @include flex(column);
    h3{
        color: $colorOrange;
        word-spacing: 0.5rem;

    }
    h1{
        font-size: 2.3rem;
        margin: 0;
        width: 26rem;
        word-spacing: 0.5rem;

    }
    p{
        width: 70%;
        border: 2px solid red;
        font-size: 2rem;
        line-height: 1.4rem;
        word-spacing: 0.5rem;
    }
}

.prices{
    @include flex(column);
}

.new-price{
    @include flex(row);
    width: 30%;
    justify-content: space-between;
    border: 2px solid red;

}

.price{

}

.percentage{
    color: $colorOrange;
    background: $paleOrange;
}

.prev-price{
    align-self: none;
}

.buttons{
    @include flex(row);
    justify-content: space-between;
    width: 70%;
}

.qty-btn{
    flex-basis: 30%;
    height: 40px;
}

.cart-btn{
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    height: 40px;
    margin-top: auto;
}

.cart-img{
    margin: 0;
    padding: 0;
}
}