@import "./mixin";

@media screen and (min-width: 959px) {
.slider{
    @include flex(column);
    gap: 2rem;
    justify-content: right;
    margin: 0;
    margin-right: auto;

}

.display{
    width: 23rem;
    height: 24rem;
    border: 2px solid red;
}

.thumbnails{
    @include flex(row);
    justify-content: space-between;
    width: 23rem;
}

.thumbnail{
    width: 4.5rem;
    height: 4.5rem;
    margin: 0;
}

.b-radius{
    border-radius: 1rem;
    max-width: 100%;
    min-height: 100%;
}

}