@import "./mixin";
@import "./variables";


.slider{
    @include flex(column);
    width: 100%;
    position: relative;
    object-fit: cover;
}

.container-slider {
    max-width: 100%;
    margin: auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

.display{
    position: relative;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.thumbnails{
    display: none;
}

.thumbnail{
    &:active{
        border-radius: 15px;
    }
    &:hover{
        border: 3px solid $colorOrange;
        border-radius: 15px;
    }
}

.b-radius{
    max-width: 100%;
    min-height: 100%;
}

.arrows{
    @include flex(row);
    position: absolute;
    top: 35%;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    align-self: center;

}

.circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: white;
}

.arrow{
    position: relative;
    margin-top: 0.39rem;
    margin-left: 0.5rem;
}

.left-arrow{
    margin-left: 0.65rem;
}


@media screen and (min-width: 959px) {
.slider{
    @include flex(column);
    gap: 2rem;
    justify-content: right;
    margin: 0;
    margin-right: auto;
    object-fit: cover;

}

.display{
    width: 23rem;
    height: 24rem;
    object-fit: cover;
}

.thumbnails{
    @include flex(row);
    justify-content: space-between;
    width: 23rem;
}

.thumbnail{
    width: 4.5rem;
    height: 4.5rem;
    margin: 0;
}

.b-radius{
    border-radius: 1rem;
    max-width: 100%;
    min-height: 100%;
}

.circle, .arrows{
    display: none;
}


}

