@import "./header";
@import "./mixin";
@import "./main";
@import "./slider";
@import "./variables";

*{
    box-sizing: border-box;
}
button{
    background: $colorOrange;
    border: none;
}

body{
    width: 100%;
    border: 2px solid red;
    margin: 0 auto;
    overflow-x: hidden;
}



@media screen and (min-width: 959px) {
body{
    width: 80%;
    margin: 0 auto;
}



}