header {
  width: 100%;
  margin: 0 auto;
  margin-right: 0;
}

nav {
  width: 100%;
}

li {
  list-style: none;
}

.f-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.f-col {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 35px;
  justify-content: center;
  width: 50%;
}

.cart-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 10%;
  margin: 0;
  margin-right: auto;
}
.cart-avatar li {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-items: center;
  justify-content: center;
}

.menu-ul {
  flex-basis: 70%;
}

ul {
  align-items: center;
}

#avatar {
  width: 2.2rem;
  height: 2.2rem;
}

@media screen and (max-width: 959px) {
  .s-hidden {
    display: none;
  }

  .menu-ul {
    gap: 2rem;
  }
}
@media screen and (min-width: 959px) {
  header {
    border-bottom: 1px solid gray;
  }

  .row-r {
    display: flex;
    flex-direction: row-reverse;
  }

  .l-hidden {
    display: none;
  }

  #avatar {
    width: 3.2rem;
    height: 3.2rem;
  }

  .cart-avatar {
    justify-content: space-between;
    flex-basis: 10%;
  }

  .menu-ul {
    justify-content: space-between;
    gap: 2rem;
  }

  .logo-menu {
    flex-basis: 10%;
    margin-left: 0;
  }

  .nav-menu {
    flex-basis: 50%;
    justify-content: space-between;
    align-content: left;
    margin-right: auto;
  }
}
main {
  width: 100%;
  margin: 0 auto;
  margin-left: 0;
}
main section {
  display: flex;
  flex-direction: column;
}
main section h3 {
  color: hsl(26deg, 100%, 55%);
  word-spacing: 0.5rem;
}
main section h1 {
  font-size: 2rem;
  margin: 0;
  width: 26rem;
  word-spacing: 0.3rem;
}
main section p {
  font-size: 1rem;
  line-height: 1.3rem;
  word-spacing: 0.3rem;
}

.main1 {
  width: 100%;
  margin: 0 auto;
}

.main2 {
  width: 90%;
  margin: 0 auto;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-price {
  display: flex;
  flex-direction: row;
  flex-basis: 40%;
  justify-content: space-between;
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  flex-basis: 40%;
}

.percentage {
  color: hsl(26deg, 100%, 55%);
  border-radius: 3px;
  background: hsl(25deg, 100%, 94%);
  font-weight: 600;
  text-align: center;
  align-self: center;
  align-items: center;
  flex-basis: 20%;
  padding: 0.1rem;
  padding-left: 0.5rem;
}

.prev-price {
  color: grey;
  flex-basis: 10%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.qty-btn {
  margin-top: 2rem;
  background: hsl(223deg, 64%, 98%);
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  border-radius: 5px;
}

.cart-btn {
  color: white;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.cart-img {
  color: white;
  margin-left: 0.5rem;
}

@media screen and (max-width: 959px) {
  .main {
    margin-bottom: 1rem;
  }

  .prev-price {
    color: grey;
    align-self: center;
  }

  .buttons {
    color: black;
  }

  .qty-btn, .cart-btn {
    padding: 0.7rem;
  }

  .cart-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .cart-txt {
    margin-top: 0.2em;
    margin-left: 0.3rem;
  }

  .minus {
    margin-bottom: 0.27rem;
  }
}
@media screen and (min-width: 959px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  main section {
    margin-top: 4rem;
    flex-basis: 55%;
  }

  .main1 {
    flex-basis: 35%;
    border: 2px solid black;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  section h3 {
    color: hsl(26deg, 100%, 55%);
    word-spacing: 0.5rem;
  }
  section h1 {
    font-size: 2.3rem;
    margin: 0;
    width: 26rem;
    word-spacing: 0.5rem;
  }
  section p {
    width: 70%;
    border: 2px solid red;
    font-size: 2rem;
    line-height: 1.4rem;
    word-spacing: 0.5rem;
  }

  .prices {
    display: flex;
    flex-direction: column;
  }

  .new-price {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    border: 2px solid red;
  }

  .percentage {
    color: hsl(26deg, 100%, 55%);
    background: hsl(25deg, 100%, 94%);
  }

  .prev-price {
    align-self: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }

  .qty-btn {
    flex-basis: 30%;
    height: 40px;
  }

  .cart-btn {
    flex-basis: 60%;
    margin: 0;
    padding: 0;
    height: 40px;
    margin-top: auto;
  }

  .cart-img {
    margin: 0;
    padding: 0;
  }
}
.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-slider {
  max-width: 100%;
  margin: auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.display {
  position: relative;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnails {
  display: none;
}

.thumbnail:active {
  border-radius: 15px;
}
.thumbnail:hover {
  border: 3px solid hsl(26deg, 100%, 55%);
  border-radius: 15px;
}

.b-radius {
  max-width: 100%;
  min-height: 100%;
}

.arrows {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 35%;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  align-self: center;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
}

.arrow {
  position: relative;
  margin-top: 0.39rem;
  margin-left: 0.5rem;
}

.left-arrow {
  margin-left: 0.65rem;
}

@media screen and (min-width: 959px) {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: right;
    margin: 0;
    margin-right: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .display {
    width: 23rem;
    height: 24rem;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23rem;
  }

  .thumbnail {
    width: 4.5rem;
    height: 4.5rem;
    margin: 0;
  }

  .b-radius {
    border-radius: 1rem;
    max-width: 100%;
    min-height: 100%;
  }

  .circle, .arrows {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

button {
  background: hsl(26deg, 100%, 55%);
  border: none;
}

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (min-width: 959px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=index.css.map */